body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  section {
    display: flex;
  }
  
  #left-sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
  }
  
  #main-content {
    flex: 1;
    padding: 45px;
  }
  
  #right-sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
/* Responsive Styles */
@media screen and (max-width: 768px) {
    section {
      flex-direction: column;
    }
  
    #left-sidebar, #right-sidebar {
      width: 100%;
    }
  }
    